*{
	margin: 0px;
	padding: 0px;
}
#demo{
	width: 1180px;
	margin:0 auto;
}
#demo:after{
	clear:both;
	content:'.';
	display:block;
	width: 0;
	height: 0;
	visibility:hidden;
}

.headerb{
	width: 1190px;
	height: 70px;
	margin:30px auto;
}
.headerb_se{
	float: none;
	width:792px;
	height: 70px;
	margin:0 auto;
}
.logo{
	width: 142px;
	height: 58px;
	line-height: 70px;
	margin-right: 50px;
	
}
.logo img{
	width: 142px;
	height: 58px;
}
.search{
	height: 36px;
	width: 600px;
	line-height: 70px;
	margin-top: 15px;
}
/*.search *{
	float: left;
}*/
.pp{
	border: 2px red solid;
	display: inline-block;
	width: 500px;
	height: 32px;
	line-height: 30px;
	float: left;
}
.searchcontent{
	/*float: left;*/
	width: 472px;
	height: 32px;
	line-height: 30px;
	outline: none;
	border: none;
	font-size: 18px;
}

.headerb_se div{
	float: left;
}
#searchcustume{
	float: left;
	width:70px ;
	height: 36px;
	font-size: 18px;
	background: red;
	border: none;
}
.lunbo{
	width: 100%;
	height: 640px;
}
.title{
	height: 40px;
	width: 100%;
}
.daohang{
	width: 1180px;
	height: 40px;
	margin:0px auto;
	background: #484848;
}
.daohang a{
	padding: 0px 25px;
	text-decoration: none;
	color: white;
	line-height: 40px;
	display: inline-block;
	height: 40px;
}
.daohang a:hover{
	background: #333;
}
.content{
	width: 1162px;
	margin-top: 20px;
	margin: 0 auto;
	/*height: 2000px;*/
	/*border: 1px red solid;*/
	padding:0 15px;
}
.content:after{
	clear:both;
	content:'.';
	display:block;
	width: 0;
	height: 0;
	visibility:hidden;
}
.content>div{
	float: left;
	width: 270px;
	height:370px;
	margin: 15px 9px;
	border: 1px #888 solid;
}
.content>div:hover{
	border: 1px red solid;
}
.customImg{
	float: left;
	top: 0px;
	width: 270px;
	height: 270px;
	cursor: pointer;

}
.meessage_div{
	float: left;
	width: 250px;
	padding:0 10px;
	margin-top: 10px;
	height: 90px;
}
.clothPrice{
	height: 25px;
	width: 250px;
}
.clothLink{
	height: 40px;
	width: 250px;
}
.clothAdress{
	height: 20px;
	width: 250px;
}
.priceDiv{
	/*width: 150px;*/
	height: 25px;
	float: left;
	color: red;
	font-size: 20px;
	font-weight:bold;
}
.priceDiv .freeGet{
	font-size: 13px;
	background: red;
	color: white;
	display: inline-block;
	margin-left: 5px;
	font-weight: 500;
	/*line-height: 25px;*/
}
.buyNumDiv{
	/*width: 110px;*/
	height: 25px;
	float: right;
	color: #888;
	    font-size:12px;
	    line-height: 25px;
	   padding-right: 10px;
}
.buyNumDiv span{
	float: right;
}
.clothLink a{
	font-size: 10px;
	color: #000000;
	text-decoration: none;
}
.clothLink a:hover{
	color: red;
	text-decoration: underline;
}
.clothAdress div:first-child{
	float: left;
	height: 20px;
	font-size: 13px;
	color: red;

}
.clothAdress div:last-child{
	float: right;
	height: 20px;
	font-size: 13px;
	color: #888;
	padding-right: 10px;
	line-height: 20px;
}
#shopLink{
	display: inline-block;
	padding-left: 5px;
	color:#888;
}
#shopLink:hover{
	color: red;
}









