*{
	margin: 0px;
	padding: 0px;
}
.navigation{
	width: 100%;
	height: 60px;
	background: red;
}
.navigation_top{
	width: 1190px;
	height: 60px;
	margin: 0 auto;
	background: red;
}

.navigation_top .logo{
	padding-right: 30px;
	float: left;
}
.navigation_top_list{
	list-style-type: none;
}
.navigation_top_list>li{
	font-size: 18px;
	font-weight: 500;
	margin: 0 20px;
	line-height: 60px;
	color: white;
	float: left;
}
.navigation_top_list>li>a{
	color: white;
}
.navigation_top_list>li a:hover{
	text-decoration: none;
}
.navigation_top_list>li:nth-child(2){
	position: relative;
}
#search{
	height: 30px;
	margin-top: 13px;
	width: 300px;
	float: right;
}
#account:hover .account_set{
	display: block;
}
.account_set{
	z-index: 10;
	display: none;
	background: white;
	width: 304px;
	height: 200px;
	/*border: 1px grey solid;*/
	box-shadow:  0 0 1px grey inset;
	position: absolute;
	top: 59px;
	left: -119px;
	color: #000000;
}
.account_set>div{
	float: left;
	width: 150px;
}
.account_set>div ul{
	margin: 0 20px;
	list-style-type: none;
	color: black;
}
.account_set li{
	line-height: 50px;
	font-size: 13px;
}
.account_set a:hover{
	color: red;
}
.ul_left li:first-child{
	color: #6a9486;
	font-size: 18px;
}
.ul_right li:first-child{
	color: #bc838a;
	font-size: 18px;
}
.account_set a{
	text-decoration: none;
	color: black;
}
.content:after{
	clear:both;
	content:'.';
	display:block;
	width: 0;
	height: 0;
	visibility:hidden;
}
.content{
	width: 1190px;
	padding-top: 20px;
	margin: 0 auto;
}
.left_content{
	float: left;
	width: 110px;
}
#left_content:after{
	clear:both;
	content:'.';
	display:block;
	width: 0;
	height: 0;
	visibility:hidden;
}
.middle_content:after{
	clear:both;
	content:'.';
	display:block;
	width: 0;
	height: 0;
	visibility:hidden;
}
.middle_content{
		float: right;
	width: 1060px;
}
.left_part{
		float: left;
	width: 726px;
	margin-left: 10px;
}
.right_part{
	float: right;
	width: 300px;
}
.left_content ul{
	list-style-type: none;
}
.left_content ul li{
	height: 30px;
}
.left_content ul li a{
	text-decoration: none;
	color: #000000;
}
.left_content ul li a:hover{
	color: red;
}
.user_bar{
		border: 1px #e8e8e8 solid;
	width: 724px;
	height: 57px;
	padding: 5px auto;
	 background: #f5f8fa;
}
.base_info{

	width:280px ;
	height: 57px;
}
.user_photo{
	float: left;
	width: 57px;
	height: 57px;
	border-radius: 28.5px;
	background: red;
	position: relative;
}
.user_photo a{
	line-height: 57px;
	width: 57px;
	height: 57px;
	top: 0px;
	left: 0px;
	text-decoration: none;
	color: white;
	display: none;
}
.user_photo:hover a{
	display: inline-block;
	border-radius: 28.5px;
	background: rgba(0,0,0,0.5);
	text-decoration: none;
	color: white
}
.user_name{
	height: 57px;
	float: left;
	padding-left: 20px;
}
.user_name p{
	height: 28.5px;
	margin: 0px;
}
.trade_state{
		border: 1px #e8e8e8 solid;
width: 724px;
height: 52px;
}
.trade_state ul{
list-style-type: none;
}
.trade_state ul li{
	float: left;
	margin-top:17px ;
	margin-bottom: 17px;
	border-right: 1px #e9e9e9 solid;
	width: 144px;
}
.trade_state ul li:last-child{
	border:none;
}
.trade_state ul li a{
	color: #3b3b3b;
	display:block;
	text-align: center;
}
.trade_state ul li a span{
	color: red;
}
.trade_state ul li a:hover{
	text-decoration: none;
	color: red;
}


