
    <link rel="stylesheet" type="text/css" href="stylesheets/afterService.css">

    <!--<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />-->
    <!--<link rel="stylesheet" href="dist/css/bootstrap.min.css">-->
    <!--<script src="dist/js/bootstrap.min.js"></script>-->




    <div class="middle_content">
        <div class="service_nav">
            <ul>
                <li>售后服务管理</li>
            </ul>
        </div>
        <div class="service_div">
            <table class="service_table">
                <thead>
                <tr class="thead_tr">
                    <td>售后编号</td>
                    <td>订单编号</td>
                    <td>卖家</td>
                    <td>售后原因</td>
                    <td>状态</td>
                    <td>申请原因</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>



