<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>哆啦咪-欢迎登陆</title>
		<link rel="shortcut icon" href="images/favicon.ico">
			 <link rel="stylesheet" href="stylesheets/font-awesome-4.6.3/css/font-awesome.min.css">
			<link rel="stylesheet" type="text/css" href="stylesheets/loginPage.css">
				<link rel="stylesheet" type="text/css" href="stylesheets/footer.css">
		<script src='javascripts/jquery-2.2.4.js'></script>
	</head>
	<body>
		<div class="logo"><a href="index.html"><img src="images/logo.png" alt="" /></a><b>欢迎登陆</b></div>
		<div class="content">
			<div>
				<div id="loginwin">
					<p id="logintest">账户登陆</p>
					<div id="tishi">
						<span id="tishiInfo"></span>
					</div>
					<form id="loginform">
						<div id="loginname">
							<label class="fa fa-user"></label><input type="text" id="loginUserName" placeholder="邮箱/用户名/已验证手机"/>
						</div>
						<div id="loginpwd">
							<label class="fa fa-lock"></label><input type="password" id="loginUserPwd" placeholder="密码"/>
						</div>
						<div id="safe">
							<input type="checkbox" id="rember" checked="checked"/><span>记住密码</span><a href="#">忘记密码</a>
						</div>
						<div id="divbtn">
							<input type="button"id="loginButton" value="登录"/>
						</div>
						<div id="divbottom">
							<a id="startzhuce" class='fa fa-chevron-circle-right' href="register.html">立即注册</a>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div id="footer">
        <div class="links">
            <a rel="nofollow" target="_blank" href="#">
                关于我们
            </a>
            |
            <a rel="nofollow" target="_blank" href="#">
                联系我们
            </a>
            |
            <a rel="nofollow" target="_blank" href="#">
                人才招聘
            </a>
            |
            <a rel="nofollow" target="_blank" href="#">
                商家入驻
            </a>
            |
            <a rel="nofollow" target="_blank" href="#">
                广告服务
            </a>
            |
            <a rel="nofollow" target="_blank" href="#">
                手机哆来咪
            </a>
            |
            <a target="_blank" href="#">
                友情链接
            </a>
            |
            <a target="_blank" href="#">
                销售联盟
            </a>
            |
            <a href="#" target="_blank">
                社区
            </a>
            |
            <a target="_blank" href="#" clstag="pageclick|keycount|20150112ABD|9">English Site</a>
        </div>
        <div class="copyright">
            Copyright&nbsp;©&nbsp;2004-2016&nbsp;&nbsp;哆来咪DLM.com&nbsp;版权所有
        </div>
    </div>
	</body>
    <script type="text/javascript" src='/javascripts/loginPage.js'></script>
</html>
