
		<link rel="stylesheet" type="text/css" href="stylesheets/myAllOrder.css">
		<link rel="stylesheet" href="stylesheets/font-awesome-4.6.3/css/font-awesome.min.css">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
		<script src='javascript/jquery-2.2.4.js'></script>
	    <link rel="stylesheet" href="../dist/css/bootstrap.min.css">
	    <script src="../dist/js/bootstrap.min.js"></script>


		<!--<div class="navigation">-->
			<!--<div class="navigation_top">-->
				<!--<div class="logo"><a href="homePage.html"><img src="images/logo.png"/></a></div>-->
				<!--<ul class="navigation_top_list">-->
					<!--<li><a href="myInformations.html">首页</a></li>-->
					<!--<li id="account">账户设置<span class="caret">-->
						<!--<div class="account_set">-->
						<!--<div>-->
							<!--<ul class="ul_left">-->
								<!--<li>安全设置</li>-->
								<!--<li><a href="">修改登录密码</a></li>-->
								<!--<li><a href="">密保问题设置</a></li>-->
								<!--<li><a href="">支付宝绑定</a></li>-->
							<!--</ul>-->
						<!--</div>-->
						<!--<div>-->
							<!--<ul class="ul_right">-->
								<!--<li>个人资料</li>-->
								<!--<li><a href="">收货地址</a></li>-->
								<!--<li><a href="">修改头像、昵称</a></li>-->
							<!--</ul>-->
						<!--</div>-->
					<!--</div>-->
						<!--</span>-->
					<!--</li>-->
					<!--<li><a href="">消息</a></li>-->
				<!--</ul>-->
				 <!--<div id="search" class="input-group">-->
				 	<!--<input type="text" class="form-control" placeholder="search">-->
                <!--<span class="input-group-btn">-->
                    <!--<button type="button" class="btn btn-default">搜索</button>-->
                <!--</span>-->
                <!---->
            <!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--<div class="content">-->
		<!--<div class="left_content">-->
			<!--<ul>-->
				<!--<li><a href="myShopping.html">我的购物车</a></li>-->
				<!--<li><a href="myAllOrder.html">所有订单</a></li>-->
				<!--<li><a href="haveShoppedStore.html">购买过的店铺</a></li>-->
				<!--<li><a href="myCollect.html">我的收藏</a></li>-->
				<!--<li><a href="">我的评价</a></li>-->
				<!--<li><a href="">售后管理</a></li>-->
			<!--</ul>-->
		<!--</div>-->
		<div class="middle_content">
			<div class="order_status">
				<ul>
					<li><a href="">所有订单<span>1</span></a></li>
					<!--<li><a href="">待付款<span>1</span></a></li>-->
					<li><a href="">待发货<span>1</span></a></li>
					<li><a href="">待收货<span>1</span></a></li>
					<li><a href="">待评价<span>1</span></a></li>
				</ul>
			</div>
			<div class="order_search_div">
				<div id="orderSearch" class="order_search input-group input-group-sm">
				 	<input type="text" class="form-control" placeholder="输入商品标题或订单号进行搜索">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default">订单搜索</button>
                </span>
                </div>
			</div>
			<div class="table_head">
				<ul>
					<li>宝贝</li>
					<li>单价</li>
					<li>数量</li>
					<li>商品操作</li>
					<li>实付款</li>
					<li>交易状态</li>
					<li>交易操作</li>
				</ul>
			</div>
			<div class="div_page">
				 <ul class="pager">
			        <li><a href="#">上一页</a></li>
			        <li><a href="#">下一页</a></li>
			    </ul>
			</div>
			<div class="data_content">
				
				
				
			
				
				
				
				
			</div>
			<div class="page_turn">
				<div class="jump_page">
					<span>跳至</span>
					<input type="text" class="page_num"/>
					<span>页</span>
					<span class="turn_btn">跳转</span>
				</div>
				<div>
					<ul class="pagination">
			            <li class="disabled"><a href="#">&laquo;</a></li>
			            <li><a href="#">1</a></li>
			            <li class="active"><a href="#">4</a></li>
			            <li><a href="#">5</a></li>
			            <li><a href="#">6</a></li>
			            <li><a href="#">7</a></li>
			            <li><a href="#">&raquo;</a></li>
        			</ul>
				</div>
			</div>
			<!--<div class="left_part">-->
				<!--<div class="user_bar">
					<div class="base_info">
						<div class="user_photo">
							<img src="" alt="" />
							<a href="">编辑资料</a>
						</div>
						
						<div class="user_name">
							<p class="">
								用户名：
							</p>
						<p>
							<a href="">wagnyunhui</a> 
						</p>
						</div>
						
					</div>
				</div>-->
				<!--<div class="trade_state">
					<ul>
						<li><a href="">待付款<span>1</span></a></li>
						<li><a href="">待发货<span>2</span></a></li>
						<li><a href="">待收货<span>3</span></a></li>
						<li><a href="">待评价<span>4</span></a></li>
						<li><a href="">退款<span>1</span></a></li>
						
					</ul>
				</div>-->
			<!--</div>-->
			<!--<div class="right_part"></div>-->
		</div>
	<!--</div>-->
	
	

