
	<link rel="stylesheet" type="text/css" href="stylesheets/myCollect.css">
	 <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
	 <script src='javascripts/jquery-2.2.4.js'></script>
    <link rel="stylesheet" href="../dist/css/bootstrap.min.css">
    <script src="../dist/js/bootstrap.min.js"></script>

		<div class="navigation">
			<div class="navigation_top">
				<div class="logo"><a href="homePage.html"><img src="images/logo.png"/></a></div>
				<ul class="navigation_top_list">
					<li><a href="#/myCollect/commodityCollection">宝贝收藏</a></li>
					<li><a href="#/myCollect/shopCollection">店铺收藏</a></li>
				</ul>
				 <div id="search" class="input-group">
				 	<input type="text" class="form-control" placeholder="search">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default">搜索</button>
                </span>
                
            </div>
			</div>
		</div>
	<div class="content">
		<div class="left_content">
			<ul>
				<li><a href="#/shoppingCar">我的购物车</a></li>
				<li><a href="#/myInformations/myAllOrder">所有订单</a></li>
				<!--<li><a href="#/myInformations/haveShoppedStore">购买过的店铺</a></li>-->
				<li><a href="#/myCollect/commodityCollection">我的收藏</a></li>
				<li><a href="#/myInformations/myEvaluate">我的评价</a></li>
				<li><a href="#/myInformations/afterService">售后管理</a></li>
				<li><a href="#/myInformations/afterService">投诉建议</a></li>
			</ul>
		</div>
		<div class="middle_content">
			<ui-view></ui-view>
			<!--<div class="nav_list">-->
				<!--<span>全部宝贝</span><span>1</span>-->
			<!--<div class="input-group input-group-sm search_clothing">-->
            <!--<input type="text" class="form-control" placeholder="搜索宝贝">-->
            <!--<span class="input-group-addon  fa fa-search"></span>-->
        <!--</div>-->
			<!--</div>	-->
				
				
				
				
				
		</div>
	</div>
	
	
