

    <link rel="stylesheet" type="text/css" href="stylesheets/myEvaluate.css">
    <!--<link rel="stylesheet" href="stylesheets/font-awesome-4.6.3/css/font-awesome.min.css">-->
    <!--<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />-->
    <!--<link rel="stylesheet" href="../dist/css/bootstrap.min.css">-->
    <!--<script src="../dist/js/bootstrap.min.js"></script>-->




    <div class="middle_content">
        <div class="evaluate_status">
            <ul>
                <li><a href="">来自买家的评价</a></li>
                <li><a href="">来自买家的评价</a></li>
                <li><a href="">给他人的评价</a></li>
            </ul>
        </div>
        <div class="evaluate_div">
            <table class="evaluate_table">
                <thead>
                <tr class="thead_tr">
                    <td><select name="" id="">
                        <option selected>评价</option>
                        <option>好评</option>
                        <option>中评</option>
                        <option>差评</option>
                    </select></td>
                    <td>评论</td>
                    <td>评价人</td>
                    <td>宝贝信息</td>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>


