<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>个人注册</title>
			<link rel="shortcut icon" href="/images/favicon.ico">
			<link rel="stylesheet" type="text/css" href="/stylesheets/register.css">
			<link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
			<link rel="stylesheet" href="/stylesheets/font-awesome-4.6.3/css/font-awesome.min.css">
			<script src='/javascripts/jquery-2.2.4.js'></script>
	</head>
	<body>
		<div id="header">
			<div id='header_logo'>
				<div id='divlogo'><a id="logo" href="homePage.html"><img src="/images/logo.png" alt="" /></a></div><div id="logo_title"><h1>欢迎注册</h1>
				</div><div id="have_count"><span>已有账号</span><a href="loginPage.html">请登录</a></div>
			</div>
		</div>
		<div id="cotenter">
		<div class="main">
			<div class="form_reg">
				<form  id="form_register" >
						<div class="form_item">
							<label for="" class="">用户名</label>
							<input type="text" id="form_counter" name="form_counter" class="input_nuify" placeholder="您的账户名和登录名"/>
						</div>
						<div class="input_tip">
							<span id="form_counter_error" class="">
								
							</span>
						</div>					
						<div class="form_item">
							<label for="" class="">设置密码</label>
							<input type="password" id="form_password"  class="input_nuify" placeholder="建议至少使用两种字符组合"/>
						</div>
						<div class="input_tip">
							<span id="form_password_info" class="">
								<!--建议使用字母、数字和符号两种以上的组合，6-20个字符-->
							</span>
						</div>
						<div class="form_item">
							<label for="" class="">确认密码</label>
							<input type="password" id="form_password_re"  class="input_nuify" placeholder="请再次输入密码"/>
						</div>
						<div class="input_tip">
							<span class="" id="form_password_re_info">
								<!--请再次输入密码-->
							</span>
						</div>
						<div class="form_item">
							<label for="" class="">中国+86</label>
							<input type="text" id="form_phone" class="input_nuify"  placeholder="建议使用常用手机"/>
						</div>
						<div class="input_tip">
							<span class="" id="form_phone_info">
								<!--完成验证后，可以使用改手机号登录和找会密码-->
							</span>
						</div>
						<div class="form_item">
							<label for="" class="">验证码</label>
							<input type="text" id="form_autocode" placeholder="请输入验证码"/>
							<label for="" class="testingCode" id="creatCode"></label>
						</div>
						<div class="input_tip" id="form_autocode_info">
							<span class="" > <!--看不清楚？点击图片更换验证码--></span>
						</div>
						<div class="form_item">
							<label for="" class="">手机验证码</label>
							<input type="text" id="form_phonecode" placeholder="请输入手机验证码"/>
							<input type="button"  id='phoneCode' value="获取验证码">
						</div>
						<div class="input_tip">
							<span id="form_phone_test_info"></span>
						</div>
						<div  id="agreement">
							<input type="checkbox" name="agreement" id="xieyi" checked="checked" value="" />
							<label for="">我已经阅读并同意<a href="#">&lt;&lt;哆啦咪用户注册协议&gt;&gt;</a></label>
						</div>
					<!--<div class="input_tip">-->
							<!--<span class="" id="form_phone_info">-->
								<!--&lt;!&ndash;完成验证后，可以使用改手机号登录和找会密码&ndash;&gt;-->
							<!--</span>-->
					<!--</div>-->
						<div  class="form_item">
							<input type="button" name=""  id="instantregister"  value="立即注册"/>
						</div>
				</form>				
			</div>				
		</div>
		</div>
		<div id="footer">
        <div class="links">
            <a rel="nofollow" target="_blank" href="#">
                关于我们
            </a>
            |
            <a rel="nofollow" target="_blank" href="#">
                联系我们
            </a>
            |
            <a rel="nofollow" target="_blank" href="#">
                人才招聘
            </a>
            |
            <a rel="nofollow" target="_blank" href="#">
                商家入驻
            </a>
            |
            <a rel="nofollow" target="_blank" href="#">
                广告服务
            </a>
            |
            <a rel="nofollow" target="_blank" href="#">
                手机哆来咪
            </a>
            |
            <a target="_blank" href="#">
                友情链接
            </a>
            |
            <a target="_blank" href="#">
                销售联盟
            </a>
            |
            <a href="#" target="_blank">
                社区
            </a>
            |
            <a target="_blank" href="#" clstag="pageclick|keycount|20150112ABD|9">English Site</a>
        </div>
        <div class="copyright">
            Copyright&nbsp;©&nbsp;2004-2016&nbsp;&nbsp;哆来咪DLM.com&nbsp;版权所有
        </div>
    </div>
    <script type="text/javascript" src='/javascripts/register.js'></script>
	</body>
</html>
